body {
  font-family: Georgia, serif;
  line-height: 1.4;
  margin: 3em;
	color: #00CC99;
  font-size: 48px;
}



/* Step 1: First make all the anchors on the page #FFA7C0 */
a {
  color: darksalmon;
}

/* Step 2: Then make the anchors within the header nav #D16121 */
header a {
  color: darkorange;
}

/* Step 3: Lastly, make the anchors in the footer nav #FFE540 */
footer a {
  padding: 40px 60px;
}
footer a {
  color: #ffe540;
}